body {
    background-color: cadetblue;
}

.container {
    height: 400px;
    width: 400px;
    background-color: white;
    margin: auto;
    font-size: 0px;
}

.pixel {
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
}