body {
    background-color: cadetblue;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-height: 400px;
    max-width: 400px;
    background-color: white;
    margin: auto;
    font-size: 0px;
}

.pixel {
    border: 1px solid black;
    display: inline-block;
    box-sizing: border-box;
}

button {
    max-height: 100px;
    max-width: 100px;
    margin: 20px;
}